@font-face{
    font-family: amblas;
    src: url(../Amblas.ttf);
}
*{
    font-family: amblas;
    
}
header{
    width: 100%
}

.nav{
    list-style: none;
    margin-left: 500px;
    margin-top: -21px;
    
    /*position: fixed;*/
}
.nav li a{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 20px 25px;
    display: block;
    width: 100%;
    
}
.nav > li{  
    float:left;
}
.nav li :hover{
    color: gold;
  
}
.nav li ul{
    display: none;
    position: absolute;
    overflow: hidden;
    
}
.nav li:hover > ul{
    display: block;
}
#nav > ul li a {
  display: block;
    overflow: hidden;
    padding: 20px;
    text-align: center; 
    position: relative;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition:  .3s ease;

}
nav > ul > li > span {
    background:;
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top:-55px;
}

#mapa{
    border: 1px solid black;
    font-size: 25px;
    margin-top: 50px;
    width: 600px;
    margin-left: 300px;
    
    
}
#intro{
    margin-left: 200px;
    margin-right: 200px;
    font-size: 25px;
    
}
form{
    margin-top: 50px;
}
.products{
    width: 300px;
    height: 300px;
    margin-left: 50px;
    margin-right: 50px;
    
}
#tablero{
    margin-left: 100px;
    margin-right: 100px;
    padding: 50px;
    list-style: none;
    
}
#muestras{
    margin-left: 200px;
    margin-right: 200px;
}
#rotacion img{
    width: 300px;
    height: 300px;
}

ul.sombr li{
            float: left;
            margin: 0 10px;
            border: 1px solid #ddd;
            list-style: none;
        }
ul.sombr li a:hover img{
            transform: scale(1.5);
            box-shadow: 4px 4px 10px gray;
        }
.linea1{    
    border:1px solid grey;
}
.sub2{
    margin-top: 80px;
    display: inline-block;
    margin-left: 250px;
}